@tailwind base;
@tailwind components;
@tailwind utilities;

/*FUENTES PERSONALIZADAS ( no he conseguido que funcionen en el proyecto )*/
/*@font-face{
    font-family: "TrebuchetMS";
    src: url('fonts/TrebuchetMS.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "BebasNeue";
    src: url('fonts/BebasNeue.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "WebSymbolsRegular";
    src: url('/assets/fonts/websymbols-regular-webfont.eot');
    src: url('/assets/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/websymbols-regular-webfont.woff') format('woff'),
         url('/assets/fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.symbol {
    font-family: "WebSymbolsRegular";
}

.bebas {
    font-family: "BebasNeue";
}
*/

/* Componentes personalizados ( clases para no repetirlos en todos ) para ello tienes que tener el @layer, como en sass, y la palabra component y a partir de ahí creas las clases que queiras como en un css normal pero antes de estos estilos colocas el @apply y por tanto, en la propiedad de html o el archivo que quieras, solo tienes que añadirle la clase con el nombre el cual has configurado */

@layer components {

    .to_ul{
        @apply flex flex-row h-20 items-center text-xl text-center xs:mr-0 xs:text-center md:justify-end;
    }

    .to_li {
        @apply mr-2 ml-5 tracking-wider flex-none xs:flex-1;
    }

    .to_li_a {
        @apply block transition duration-200 hover:text-purple-300;
    }
    
    .text-banner { /* una clase con css aplicables a tailwind gracias a estar adentro del components */
        text-shadow: 1px 1px 1px;
    }

    #cards-container {
        @apply grid gap-1 grid-cols-4 grid-rows-1 sm:self-center sm:grid-rows-1 sm:grid-cols-1 sm:gap-8 md:grid-cols-2 md:grid-rows-2 lg:grid-cols-4 lg:grid-rows-1 
    }

    #card {
        @apply flex-1 rounded-xl h-72 shadow-sm shadow-blue-300/20 bg-neutral-800 pl-2 pr-2 cursor-pointer transition duration-300 hover:bg-neutral-900  hover:shadow-slate-600 hover:shadow-box md:h-60 md:m-2 lg:h-80 lg:m-5 
    }

    .card-icon {
        @apply block w-full h-28 text-6xl text-center mt-12 transition duration-300 md:mt-6 lg:mt-10
    }

    .card-category {
        @apply w-full h-12 text-lg font-medium text-center tracking-widest text-green-dabadi transition duration-300 mb-3 lg:text-base md:text-base
    }

    .card-description {
        @apply text-center text-gray-50 text-base transition duration-300 lg:text-xs lg:mt-2 lg:block 
    }

    .article-header {
        @apply flex justify-center items-center w-full h-24 text-5xl tracking-widest leading-10
    }

    .article-item {
        @apply w-full h-auto bg-neutral-800 p-4 rounded-xl shadow-sm shadow-neutral-700 hover:shadow-box hover:shadow-neutral-700 mt-8
    }

    .article-data-item {
        @apply grid grid-rows-2 float-right bg-neutral-700 p-2 rounded-lg shadow-md shadow-neutral-600 -m-2.5
    }

    .article-link {
        @apply text-xl tracking-wider text-green-dabadi font-semibold hover:animate-pulse
    }

    .header-aside {
        @apply block h-11 leading-10 text-2xl
    }

    .aside-box {
        @apply h-48 mx-auto mt-3 mb-7 pt-1
    }
}